html {
    font-size: 14px;
}

body {
    /* background-color: #f7f7f7; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Segoe UI", serif;
    
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
    margin: 10px 0;
}

#app {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
}

.button-primary {
    background-color: #0f8aa0;
    height: 2.5rem;
    color: #fff;
    margin: 1rem 0;
    font-weight: 500;
}

.button-primary:hover {
    background-color: #18c6e5;
}

button.nav-link {
    border: none;
    background-color: transparent;
}

button:focus, button:focus-visible {
    outline: none;
}

.container.header-container {
    max-width: 100%;
    min-height: 80px;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 20px;
}

.navbar-toggler-container {
    border: none;   
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .8);
    border: none;
}

button.navbar-toggler {
    padding: .75rem 0;
}

.navbar-toggler-label {
    margin-right: 10px;
    font-size: 1rem;
}

.bg-primary-dark {
    background-color: #0f8aa0;
}

/*home*/
.welcome-text h1, h2, h3, h4, h5, h6 {
    margin: 20px;
}

.home-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-button {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    background-color: rgb(223, 222, 222);
    color: inherit;
}


.home-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    transform: translate(-50%, -50%);
}

.home-button:hover {
    background-color: #999;
    color: inherit;
    cursor: pointer;
}

/*Login*/

.login-page {
    margin: 50px 0;
    text-align: center;
}

.login-page h1 {
    font-weight: 300;
    margin-bottom: 2rem;
}

.signin-container {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
}

.form-field {
    width: 100%;
    margin-bottom: .5rem;
}

.form-field input {
    width: 100%;
    border: .5px solid #ced4da;
    border-radius: 3px;
    height: 35px;
    color: #495057;
    padding: 10px 10px;
    transition: border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
}

.form-field input::placeholder {
    color: #ced4da;
}

.form-field input:focus {
    outline: none;
    border-color: #78b7f1;
    border-radius: 2px;
    box-shadow: 0 0 3px 1px #78b7f1;
}

/* .signin-form {
    background-color: ;
} */

/*footer*/

#footer {
    padding: 2rem;
    /* position: absolute;
    bottom: 0; */
    width: 100%;
}

.footer-top {
    padding: 0.5rem 1rem;
    box-shadow: 0 0 5px 5px #0f8aa0
}

.footer-logo {
    display: flex;
    align-items: center;
    max-width: 200px;
}

.footer-group-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-around;
}

.footer-group {
    padding: 1rem 0 1rem 1rem;
    color: rgba(255, 255, 255, .8)
}


.icons-container {
    display: flex;
    justify-content: center;
}

.icon {
    width: 2rem;
    margin-right: 1rem;
}

.email-icon {
    width: 1.5rem;
    margin: 10px 0 0 10px;
}

.etsy-icon {
    width: 1.3rem;
    padding-top: 2px;
}

.github-icon {
    width: 1.5rem;
    padding-top: 2px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    font-size: .5rem;
}


@media only screen and (min-width: 960px) {
    .home-buttons {
        flex-direction: row;
    }

    .home-button {
        margin: 10px;
        width: 300px;
        height: 300px;
    }
}